<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      @font-face {
        font-family: 'GowunDodum-Regular';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
    </style>
</head>
<body style="background-color: black; font-family: 'GowunDodum-Regular">
    <h1 style="background-color: gray;">hello jinny</h1>



    <script>
      alert("Hello, jinny!");
    </script>
</body>
</html>